﻿@model LeaseWeb.TechTest.ViewModels.CustomerVM.CreateCustomerVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Customer.CompanyName" class="control-label"></label>
                <input asp-for="Customer.CompanyName" class="form-control" />
                <span asp-validation-for="Customer.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.RegistrationNumber" class="control-label"></label>
                <input asp-for="Customer.RegistrationNumber" class="form-control" />
                <span asp-validation-for="Customer.RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.WebSite" class="control-label"></label>
                <input asp-for="Customer.WebSite" class="form-control" />
                <span asp-validation-for="Customer.WebSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.NumberOfEmployees" class="control-label"></label>
                <input asp-for="Customer.NumberOfEmployees" class="form-control" />
                <span asp-validation-for="Customer.NumberOfEmployees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.MaxOutstandingOrderAmount" class="control-label"></label>
                <input asp-for="Customer.MaxOutstandingOrderAmount" class="form-control" />
                <span asp-validation-for="Customer.MaxOutstandingOrderAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustomerSince" class="control-label"></label>
                <input asp-for="Customer.CustomerSince" class="form-control" />
                <span asp-validation-for="Customer.CustomerSince" class="text-danger"></span>
            </div>

            <h4>Main contact details</h4>

            <div class="form-group">
                <label asp-for="Contact.Address" class="control-label"></label>
                <input asp-for="Contact.Address" class="form-control" />
                <span asp-validation-for="Contact.Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Contact.City" class="control-label"></label>
                <input asp-for="Contact.City" class="form-control" />
                <span asp-validation-for="Contact.City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Contact.Email" class="control-label"></label>
                <input asp-for="Contact.Email" class="form-control" />
                <span asp-validation-for="Contact.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Contact.Name" class="control-label"></label>
                <input asp-for="Contact.Name" class="form-control" />
                <span asp-validation-for="Contact.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RequiredPhoneNumber" class="control-label"></label>
                <input asp-for="RequiredPhoneNumber" class="form-control" />
                <span asp-validation-for="RequiredPhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Contact.IsFinancial" class="control-label"></label>
                <input asp-for="Contact.IsFinancial" class="form-control" />
                <span asp-validation-for="Contact.IsFinancial" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Contact.IsTechnical" class="control-label"></label>
                <input asp-for="Contact.IsTechnical" class="form-control" />
                <span asp-validation-for="Contact.IsTechnical" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Contact.IsOther" class="control-label"></label>
                <input asp-for="Contact.IsOther" class="form-control" />
                <span asp-validation-for="Contact.IsOther" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
