﻿@model LeaseWeb.TechTest.ViewModels.CustomerVM.EditCustomerVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.RegistrationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.RegistrationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.WebSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.WebSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.NumberOfEmployees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.NumberOfEmployees)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Customer.MaxOutstandingOrderAmount)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Customer.MaxOutstandingOrderAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerSince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerSince)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                City
            </th>
            <th>
                Address
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Email
            </th>
            <th>
                Main
            </th>
            <th>
                Technical
            </th>
            <th>
                Financial
            </th>
            <th>
                Other
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contacts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsMain)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFinancial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsTechnical)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOther)
                </td>
                <td>
                    <a asp-controller="Contacts" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    @if (!item.IsMain)
                    {
                        <a asp-controller="Contacts" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Customer.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
