﻿@model LeaseWeb.TechTest.ViewModels.CustomerVM.EditCustomerVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Customer.Id" />
            <div class="form-group">
                <label asp-for="Customer.CompanyName" class="control-label"></label>
                <input asp-for="Customer.CompanyName" class="form-control" />
                <span asp-validation-for="Customer.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.RegistrationNumber" class="control-label"></label>
                <input asp-for="Customer.RegistrationNumber" class="form-control" />
                <span asp-validation-for="Customer.RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.WebSite" class="control-label"></label>
                <input asp-for="Customer.WebSite" class="form-control" />
                <span asp-validation-for="Customer.WebSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.NumberOfEmployees" class="control-label"></label>
                <input asp-for="Customer.NumberOfEmployees" class="form-control" />
                <span asp-validation-for="Customer.NumberOfEmployees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.MaxOutstandingOrderAmount" class="control-label"></label>
                <input asp-for="Customer.MaxOutstandingOrderAmount" class="form-control" />
                <span asp-validation-for="Customer.MaxOutstandingOrderAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustomerSince" class="control-label"></label>
                <input asp-for="Customer.CustomerSince" class="form-control" />
                <span asp-validation-for="Customer.CustomerSince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <a asp-action="Create" asp-controller="Contacts" class="btn btn-primary">Create New Contact</a>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                City
            </th>
            <th>
                Address
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Email
            </th>
            <th>
                Main
            </th>
            <th>
                Technical
            </th>
            <th>
                Financial
            </th>
            <th>
                Other
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contacts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsMain)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFinancial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsTechnical)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOther)
                </td>
                <td>
                    <a asp-controller="Contacts" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    @if (!item.IsMain)
                    {
                        <a asp-controller="Contacts" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
