﻿@model IEnumerable<LeaseWeb.TechTest.ViewModels.CustomerVM.CustomerSearchResultVM>

@{
    ViewData["Title"] = "Index";
}

@{ await Html.RenderPartialAsync("_CustomerSearchPartial", new LeaseWeb.TechTest.ViewModels.CustomerVM.CustomerSearchRequestVM()); }

<p>
    <a asp-action="Create">Create New Customer</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                Company name
            </th>
            <th>
                Registration No.
            </th>
            <th>
                Website
            </th>
            <th>
                Number of employees
            </th>
            <th>
                Max outstanding orders
            </th>
            <th>
                Customer since
            </th>
            <th>
                Main contact address
            </th>
            <th>
                Main contact name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.WebSite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.NumberOfEmployees)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.MaxOutstandingOrderAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerSince)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MainContactAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MainContactEmail)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Customer.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Customer.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Customer.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
