﻿@model LeaseWeb.TechTest.ViewModels.ContactVM.SetAsMainContactVM

<div class="row">
    <div class="col-md-4">
        <form asp-action="SetAsMainContact">
            <input type="hidden" asp-for="ContactId" />
            <input type="submit" value="Set as main contact" class="btn btn-primary" />
        </form>
    </div>
</div>
