﻿@model LeaseWeb.TechTest.ViewModels.ContactVM.EditContactVM

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.IsMain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact.IsMain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.IsFinancial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact.IsFinancial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.IsTechnical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact.IsTechnical)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.IsOther)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact.IsOther)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Contact.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @*<a asp-action="Index">Back to List</a>*@
        <a href="#" onclick="window.history.go(-1); return false;">Return to previous page</a>
    </form>
</div>
