﻿@model LeaseWeb.TechTest.DataAccess.Model.Contact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFinancial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFinancial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTechnical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTechnical)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOther)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOther)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
