﻿@model IEnumerable<LeaseWeb.TechTest.ViewModels.ContactVM.ContactSearchResponseVM>

@{
    ViewData["Title"] = "Index";
}

@{ await Html.RenderPartialAsync("_ContactSearchPartial", new LeaseWeb.TechTest.ViewModels.CustomerVM.CustomerSearchRequestVM()); }

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                City
            </th>
            <th>
                Address
            </th>
            <th>
                Phone number
            </th>
            <th>
                Email
            </th>
            <th>
                Main
            </th>
            <th>
                Financial
            </th>
            <th>
                Technical
            </th>
            <th>
                Other
            </th>
            <th>Customer Company Name</th>
            <th>
                Customer Registration No.
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact.IsMain)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact.IsFinancial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact.IsTechnical)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact.IsOther)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerCompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerRegistrationNumber)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Contact.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Contact.Id">Details</a> |
                    @if (!item.Contact.IsMain)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Contact.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
